
// navbar section

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #eb3349, #f45c43);

    nav{
        width: 80%;
        position: sticky;
        margin: 20px auto;
        z-index: 1;
        display: flex;
        align-items: center;
    }

    .logo{
        flex-basis: 20px;
        img{
            width: 80px;
            height: 65px;
           
        }
    }

    &_links{
          flex: 1;
          text-align: right;
          ul{


              li{
                display: inline-block;
                list-style:none;
                margin: 0 20px;
                a{
                    text-decoration: none;
                    color: #fff ;
                    font-size: 1em;
                }

              }
          }
    }

}
// information section
.information{
        width: 62.5em;
        height: 62.5em;
        position: absolute;
        top: 50%;
        left: -13%;
        transform:translateY(-43%); //This will be vertically centered.

        .overlay{
            width: 0;
            height: 0;
            border-top: 500px solid #485563;
            border-right: 500px solid transparent;
            border-bottom: 500px solid #485563;
            border-left: 500px solid #eea849;
            position: absolute;
            left: 0;
            top: 0;
        }

        #circle{
            width: 62.5em;
            height: 62.5em;
            position: absolute;
            top: 0;
            left: 10px;
            border-radius: 50%;
            transform: rotate(0deg);
            transition: 1.5s;
           
        

         .feature{
            position: absolute;
            display: flex;
            color: #fff;
            margin-left: 80px;

            

            div{
                margin-left: 30px;
                P{
                    margin-top: 8px;
                }
            }

            img{
                width: 70px;
                border-radius: 40%;
            }
            }
            .one{
                top: 450px;
                right: 50px;
                
             }
             .two{
                top: 150px;
                left: 350px;
                transform: rotate(-90deg);
             }
        
            .three{
                bottom: 450px;
                left: 50px;
                transform: rotate(-180deg);
            }
            .four{
                bottom: 200px;
                right:350px;
                transform: rotate(-270deg);
            }  

            
    }
    .travel{
        width: 150px;
        height: 150px;
        position: absolute;
        top: 45%;
        left: 45%;
        transform:translateY(-50%);
        z-index: 1;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7) ;
        
    }

    
}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;

    h3{
        margin: 20px 0;
        color: #fff;
       
    }
    #upBtn{
             width: 30px;
             cursor: pointer;
             

    }
    #downBtn{
             width: 30px;
             cursor: pointer;   
             transform: rotate(180deg);

    }

}